<div id="auth">
  <h1 class="text-center">
    GoSnipIt
    <i class="fa fa-puzzle-piece"></i>
  </h1>
  <form ng-model="User" ng-submit="Login()">
    <div class="form-group">
      <label for="useremail">Email address</label>
      <input type="email" class="form-control" id="useremail" placeholder="Email" ng-model="User.email">
    </div>
    {{User.email}}
    <div class="form-group">
      <label for="userpassword">Password</label>
      <input type="password" class="form-control" id="userpassword" placeholder="Password" ng-model="User.password">
    </div>
    {{User.password}}
    <div ng-show="registration">
      <div class="form-group">
        <label for="userfirstname">First Name</label>
        <input type="text" class="form-control"  id="userfirstname" placeholder="Michael" ng-model="User.firstname">
      </div>
      <div class="form-group">
        <label for="userlastname">Last Name</label>
        <input type="text" class="form-control"  id="userlastname" placeholder="Fox" ng-model="User.lastname">
      </div>
      <div class="form-group">
        <label for="userphone">Phone for text notifications(optional)</label>
        <input type="text" class="form-control"  id="userphone" placeholder="000-111-2222" ng-model="User.phone">
      </div>
      <div class="form-group">
        <label for="userlocation">Location for proper time zone(optional)</label>
        <input type="text" class="form-control"  id="userlocation" placeholder="New York City" ng-model="User.location">
      </div>

    </div>
    <button type="submit" class="btn btn-default">
      Login
    </button>
  </form>

	Logged? {{logged}}
		<button ng-click="Logout()" type="submit" class="btn btn-default">
			Logout
		</button>

  <h3>Don't have an account? <a ng-click="registration = true">Register</a></h3>
</div>
   