<div id="dashboard" class="container">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1 recent-snippets">
      
      <header class="page-header">
        <h1>
          <i class="fa fa-rss"></i>
          Snippet Subscriptions
        </h1>
      </header>

      <div class="col-md-12 snippets-feed">
          <h4 ng-hide="data.dashboard.snippets.length > 0">No subscribtions yet</h4>
        <ul class="list-group users-snippets-list">
          
          
          <li class="list-group-item user-snippets-list-item" ng-repeat="snippet in data.dashboard.snippets">
            
            <div class="user-snippets">

              <header class="page-header user clearfix">
                <div class="avatar-container">

                  <img class="avatar img-responsive" src="https://robohash.org/micheal-j-fox" alt="Avatar">
                </div>
                <div class="user-details">
                  
                    <a ui-sref="company.user({'user_id': snippet.snippet.user_id, 'company_id': data.dashboard.user.company_id})"><h5 class="user-title">{{snippet.user_name}}</h5></a>
                    
                  <h4>
                     <span class="user-role" style="color:black" ng-show="snippet.role!='no role'">{{snippet.role}}</span> 
                  </h4>
                  <h5 style="color: black">

                    <a ui-sref="company.project({'project_id': snippet.project.id, 'company_id': snippet.project.company_id})">@{{snippet.project.name}}</a>
                  </h5>
                </div>
              </header>  
              <div class="project">
                <div class="week">
                  {{snippet.snippet.week}}

                </div>
                <div class="snippets">
                  <p class="snippet-text">
                    {{snippet.snippet.text}}
                  </p>
                </div> 
              </div><!-- .project -->
            </div><!-- .user-snippets 1 -->

          </li><!-- .user-snippets-list-item 1 -->
        </ul>

      </div><!-- .snippets-feed -->
    </div><!-- .recent-snippets -->

    <div class="col-xs-10 col-xs-offset-1 col-md-5 project-subscriptions" >
      <header class="page-header">
        <h1>
          <i class="fa fa-folder-open"></i>
          Projects
        </h1>
        <button class="btn btn-default" ng-hide="projectForm" ng-click="projectForm=true">Create a project</button>
        <form ng-hide="projectForm==undefined" ng-model="Project" ng-submit="newProject()">
          <div class="form-group">
            <input type="text" ng-model="Project.name" placeholder="Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" ng-model="Project.description" placeholder="Description" class="form-control">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Save project
          </button>
        </form>
      </header>

      <ul class="list-group project-list">

        <li class="list-group-item clearfix"  ng-repeat="project in data.dashboard.projects | orderBy:'-project.created_at'">
          <div class="pull-left">

          <h4>@{{project.project.name }}</h4>
          

          <h5> {{project.project.description}}</h5>
          </div>

          <a href="#" class="btn btn-success pull-right" ng-hide="project.subscribed">
            <i class="fa fa-check"></i>
            <span >Subscribed</span>
          </a>
          
          <a href="#"  class="btn btn-default pull-right" ng-show="project.subscribed">
            <i class="fa fa-check"></i>
            <span >Subscribe</span>
          </a>
            
        </li>
        
      </ul>
    </div><!-- project-subscriptions -->  
  </div><!-- row -->

</div><!-- #dashboard -->







