<div id="dashboard" class="row">
  <div class="col-md-5 col-md-offset-1 recent-snippets">
    
    <header class="page-header">
      <h1>
        Recent Snippets in Subscriptions
      </h1>
    </header>

    <div class="col-md-12 snippets-feed">

      <ul class="list-group users-snippets-list">
        
        <li class="list-group-item user-snippets-list-item" ng-repeat="snippet in data.dashboard.snippets">
          
          <div class="user-snippets" >

            <header class="page-header user clearfix">
              <div class="avatar-container">

                <img class="avatar img-responsive" src="https://robohash.org/micheal-j-fox" alt="Avatar">
              </div>
              <div class="user-details">
                <h1>
                  {{snippet.id}}
                </h1>
                <p>
                  Projects: for user {{snippet.user_id}}
                </p>

              </div>
            </header>

            
            <div class="project">
              <h2>
                User projects: @{{snippet.project_id}}
              </h2>
              <div class="week">
                Need a week for snippet
                <br>
                October 21, 2015 - October 28, 2015
              </div>
              <div class="snippets finished">
                <p ng-bind-html="snippet.text | rawHtml">
                  
                </p>
              </div> 
            </div><!-- .project -->
          </div><!-- .user-snippets 1 -->

        </li><!-- .user-snippets-list-item 1 -->
      </ul>

    </div><!-- .snippets-feed -->
  </div><!-- .recent-snippets -->

  <div class="col-md-5 project-subscriptions">
    <h1>
      Projects
    </h1>
    <ul class="list-group project-list">

      <li class="list-group-item clearfix" ng-repeat="project in data.dashboard.projects">
        {{project.name}}
        <a href="#" class="btn btn-success pull-right">
          <i class="fa fa-check"></i>
          Subscribed?
        </a>
      </li>
      
    </ul>
  </div><!-- project-subscriptions -->
</div>







