<div id="dashboard" class="row">
  <div class="col-md-5 col-md-offset-1 recent-snippets">
    
    <header class="page-header">
      <h1>
        Recent Snippets in Subscriptions
      </h1>
    </header>

    <div class="col-md-12 snippets-feed">

      <ul class="list-group users-snippets-list">
        
        <li class="list-group-item user-snippets-list-item" ng-repeat="snippet in data.dashboard.snippets">
          
          <div class="user-snippets" >

            <header class="page-header user clearfix">
              <div class="avatar-container">

                <img class="avatar img-responsive" src="https://robohash.org/micheal-j-fox" alt="Avatar">
              </div>
              <div class="user-details">
                <h3>
                  {{snippet.user_name}} <span ng-show="snippet.role!='no role'">- {{snippet.role}}</span> 
                </h3>
                <h4>
                  @{{snippet.project.name}}
                </h4>
              </div>
            </header>

            
            <div class="project">
              <div class="week">
                {{snippet.snippet.week}}

              </div>
              <div>
                <p >
                  {{snippet.snippet.text}}
                </p>
              </div> 
            </div><!-- .project -->
          </div><!-- .user-snippets 1 -->

        </li><!-- .user-snippets-list-item 1 -->
      </ul>

    </div><!-- .snippets-feed -->
  </div><!-- .recent-snippets -->

  <div class="col-md-5 project-subscriptions" ng-hide="data.dashboard.projects.length==0">
    <h1>
      Projects
    </h1>

    <ul class="list-group project-list">

      <li class="list-group-item clearfix"  ng-repeat="project in data.dashboard.projects">
        {{project.name}}
        <a href="#" class="btn btn-success pull-right">
          <i class="fa fa-check"></i>
          Subscribed?
        </a>
      </li>
      
    </ul>
  </div><!-- project-subscriptions -->
</div>







