<div id="project" class="row">
  <div class="col-md-5 col-md-offset-1 subscriber-details">
    
    <header class="page-header">
      <h1>
        Acquisition
      </h1>
      <div class="subscription">
        <span class="text-success">
          Subscribed
        </span>
        <a href="#">
          Edit
        </a>
      </div>
    </header>

    <div class="week">
      October 21, 2015 - October 28, 2015
    </div>

    <header class="page-header user clearfix">
      <div class="avatar-container">
        <img class="avatar img-responsive" src="https://robohash.org/micheal-j-fox" alt="Avatar">
      </div>
      <div class="user-details">
        <h1>
          Michael J. Fox
        </h1>
        <p>
          Projects: Acquisition, Traveling
        </p>
      </div>
    </header>

    <div class="project">
      <h2 class="text-info">
        @aquisition
      </h2>
      <div class="week">
        October 21, 2015 - October 28, 2015
      </div>
      <div class="snippets finished">
        <p>
          Done this work:
        </p>
        <div class="snippet">
          <h3>
            Car Repairs
          </h3>
          <ul class="snippet-list">
            <li>
              turbo plasma engine check
            </li>
            <li>
              new filter for engine
            </li>
            <li>
              wired up lightning catching
            </li>
          </ul>
        </div>

        <div class="snippet">
          <h3>
            Time Traveling
          </h3>
          <ul class="snippet-list">
            <li>
              jump to the future
            </li>
            <li>
              found family
            </li>
            <li>
              tested skate system
            </li>
          </ul>
        </div>
      </div>

      <div class="snippets unfinished">
        <p>
          Will be done next week:
        </p>
        <div class="snippet">
          <h3>
            Save Family
          </h3>
          <ul class="snippet-list">
            <li>
              need to plan how to save them
            </li>
            <li>
              get help
            </li>
            <li>
              rescue the doc
            </li>
          </ul>
        </div>
      </div>
    </div><!-- .project -->

  </div><!-- .subscriber-details -->

  <div class="col-md-5">
    
    <div class="row">
      <div class="col-md-12 members">
        <h1>
          Project Members(2)
        </h1>
        <ul class="member-list">
          <li>
            <a href="#">
              Michael J. Fox
            </a>
            time traveler
          </li>
          <li>
            <a href="#">
              Christopher Lloyd
            </a>
            science genius
          </li>
        </ul>
      </div><!-- .members -->

      <div class="col-md-12 member-search">
        <form action="#" class="member-search-form">
          
          <div class="form-group">
            <select name="members" id="members" class="form-control">
              <option value="1">Lea Thompson</option>
              <option value="1">Lea Thompson</option>
              <option value="1">Lea Thompson</option>
              <option value="1">Lea Thompson</option>
            </select>
          </div>

          <div class="form-group">
            <input type="search" class="form-control" placeholder="Search for a new member...">
          </div>

          <button type="submit" class="btn btn-primary">
            Add/Edit a member
          </button>
        </form>
      </div><!-- .member-search -->

      <div class="col-md-12 subscribers">
        <h1>
          Project Subscribers(3)
        </h1>
        <ul class="subscriber-list">
          <li>
            <a href="#">
              Some Subscriber
            </a>
          </li>
          <li>
            <a href="#">
              Some Subscriber
            </a>
          </li>
          <li>
            <a href="#">
              Some Subscriber
            </a>
          </li>
        </ul>
      </div><!-- .subscribers -->
    </div>

  </div>
</div>





