<div id="snippet-show" class="row">
  <div class="col-md-8 center-block">
    
    <header class="page-header">
      <div class="avatar-container">
        <img src="https://robohash.org/micheal-j-fox" alt="Avatar">
      </div>
      <h1>
        Michael J. Fox
      </h1>
      <p>
        Projects: Acquisition, Traveling
      </p>
    </header>

    <div class="post-snippet">
      <header>
        <p>
          Post snippet -
          <a href="#">
            How to write a snippet?
          </a>
        </p>
        <span class="label label-default">
          @science
        </span>  
      </header>
      <br>
      <div class="snippet-form-container">
        <form action="#">
          <div class="form-group">
            <textarea name="snippet" id="snippet" class="form-control" cols="30" rows="10" placeholder="What did you get done this week?"></textarea>
          </div>
          <div class="week">
            <span class="label label-default">
              October 21, 2015 - October 28, 2015
            </span>
          </div>
          <br>
          <button class="btn btn-primary">
            Post Snippet
          </button>
        </form>
      </div>
    </div>

    <div class="snippet-history">
      <div class="projects">
        <div class="project">
          <h2>
            @aquisition
          </h2>
          <div class="week">
            October 21, 2015 - October 28, 2015
          </div>
          <div class="snippets finished">
            <p>
              Done this work:
            </p>
            <div class="snippet">
              <h3>
                Car Repairs
              </h3>
              <ul class="snippet-list">
                <li>
                  turbo plasma engine check
                </li>
                <li>
                  new filter for engine
                </li>
                <li>
                  wired up lightning catching
                </li>
              </ul>
            </div>

            <div class="snippet">
              <h3>
                Time Traveling
              </h3>
              <ul class="snippet-list">
                <li>
                  jump to the future
                </li>
                <li>
                  found family
                </li>
                <li>
                  tested skate system
                </li>
              </ul>
            </div>
          </div>

          <div class="snippets unfinished">
            <p>
              Will be done next week:
            </p>
            <div class="snippet">
              <h3>
                Save Family
              </h3>
              <ul class="snippet-list">
                <li>
                  need to plan how to save them
                </li>
                <li>
                  get help
                </li>
                <li>
                  rescue the doc
                </li>
              </ul>
            </div>
          </div>
        </div><!-- .project @acquisition -->

        <div class="project">
          <h2>
            @traveling
          </h2>
          <div class="week">
            October 21, 2015 - October 28, 2015
          </div>
          <div class="snippets finished">
            <p>
              Done this work:
            </p>
            <div class="snippet">
              <h3>
                Car Repairs
              </h3>
              <ul class="snippet-list">
                <li>
                  turbo plasma engine check
                </li>
                <li>
                  new filter for engine
                </li>
                <li>
                  wired up lightning catching
                </li>
              </ul>
            </div>

            <div class="snippet">
              <h3>
                Time Traveling
              </h3>
              <ul class="snippet-list">
                <li>
                  jump to the future
                </li>
                <li>
                  found family
                </li>
                <li>
                  tested skate system
                </li>
              </ul>
            </div>
          </div>

          <div class="snippets unfinished">
            <p>
              Will be done next week:
            </p>
            <div class="snippet">
              <h3>
                Save Family
              </h3>
              <ul class="snippet-list">
                <li>
                  need to plan how to save them
                </li>
                <li>
                  get help
                </li>
                <li>
                  rescue the doc
                </li>
              </ul>
            </div>
          </div>
        </div><!-- .project @aquisition -->

      </div><!-- .projects -->
    </div>

  </div>
</div>

<br><br>