<div id="user" class="row">
  <div class="col-md-8 center-block">
    
    <header class="page-header user clearfix">
      <div class="avatar-container">
        <img class="avatar img-responsive" src="https://robohash.org/micheal-j-fox" alt="Avatar">
      </div>
      <div class="user-details">
        <h1>
          {{data.user.first_name}}{{logged.user.last_name}}
        </h1>
        <p>
          {{data.user.first_name}}Projects: Acquisition, Traveling
        </p>
      </div>
    </header>

    <div class="week">
        October 21, 2015 - October 28, 2015
    </div>

    <div class="projects">
      <div class="project">
        <h2 class="text-info">
          @aquisition
        </h2>
        <div class="week">
          October 21, 2015 - October 28, 2015
        </div>
        <div class="snippets finished">
          <p>
            Done this work:
          </p>
          <div class="snippet">
            <h3>
              Car Repairs
            </h3>
            <ul class="snippet-list">
              <li>
                turbo plasma engine check
              </li>
              <li>
                new filter for engine
              </li>
              <li>
                wired up lightning catching
              </li>
            </ul>
          </div>

          <div class="snippet">
            <h3>
              Time Traveling
            </h3>
            <ul class="snippet-list">
              <li>
                jump to the future
              </li>
              <li>
                found family
              </li>
              <li>
                tested skate system
              </li>
            </ul>
          </div>
        </div>

        <div class="snippets unfinished">
          <p>
            Will be done next week:
          </p>
          <div class="snippet">
            <h3>
              Save Family
            </h3>
            <ul class="snippet-list">
              <li>
                need to plan how to save them
              </li>
              <li>
                get help
              </li>
              <li>
                rescue the doc
              </li>
            </ul>
          </div>
        </div>
      </div><!-- .project @acquisition -->

      <div class="project">
        <h2 class="text-info">
          @traveling
        </h2>
        <div class="week">
          October 21, 2015 - October 28, 2015
        </div>
        <div class="snippets finished">
          <p>
            Done this work:
          </p>
          <div class="snippet">
            <h3>
              Car Repairs
            </h3>
            <ul class="snippet-list">
              <li>
                turbo plasma engine check
              </li>
              <li>
                new filter for engine
              </li>
              <li>
                wired up lightning catching
              </li>
            </ul>
          </div>

          <div class="snippet">
            <h3>
              Time Traveling
            </h3>
            <ul class="snippet-list">
              <li>
                jump to the future
              </li>
              <li>
                found family
              </li>
              <li>
                tested skate system
              </li>
            </ul>
          </div>
        </div>

        <div class="snippets unfinished">
          <p>
            Will be done next week:
          </p>
          <div class="snippet">
            <h3>
              Save Family
            </h3>
            <ul class="snippet-list">
              <li>
                need to plan how to save them
              </li>
              <li>
                get help
              </li>
              <li>
                rescue the doc
              </li>
            </ul>
          </div>
        </div>
      </div><!-- .project @aquisition -->

    </div><!-- .projects -->

  </div>
</div><!-- #user-show -->