<div id="user" class="container">

  <div class="row">
    <div class="col-xs-10 col-md-8 col-lg-6 center-block">
      
      <header class="page-header user clearfix">
        <div class="avatar-container">

          <img class="avatar img-responsive" src="https://robohash.org/micheal-j-fox" alt="Avatar">
        </div>
        <div class="user-details">
          <h3 class="user-title">
            {{username}}
          </h3>
          Projects:
          <p class="user-projects" ui-sref="company.project({'project_id': project.id, 'company_id': project.company_id})" ng-repeat="project in data.user.projects">
            @{{project.name}}
          </p>
        </div>
      </header><!-- .page-header .user -->

      <div class="post-snippet" ng-show="logged.user.id == data.user.user.id">
        <header>
          <h1>
            Post a new snippet
            <i class="fa fa-puzzle-piece"></i>
          </h1>
          <p>
            <a style="cursor:help;" href="#" title="  The format for writing a snippet could easily be placed in the title attribute of this anchor tag to show users how to write a snippet without needing to render a new page to do so. Cool huh?

    - Something like this perhaps for a snippet?

    - The CSS cursor:help; property makes the question mark appear on hover
            ">
              Hover me to learn how to write a snippet!
            </a>
          </p>
        </header>
        <br>
        <div class="snippet-form-container">
          <form ng-model="Snippet" ng-submit="postSnippet()">

          <div class="checkbox" ng-repeat="project in data.user.projects">
            <label><input type="radio" ng-model="Snippet.project_id" value="project_id: {{project.id}}" > @{{project.name}}</label>
          </div>
          
          <br>
            <div class="form-group">
              <textarea name="snippet" id="snippet" class="form-control" cols="30" rows="10" placeholder="What did you get done this week? What are you going to do next week?" ng-model="Snippet.text"></textarea>
            </div>

            <div class="week">
              
                <label><input type="radio" ng-model="Snippet.week" value="November 2, 2015 - November 8, 2015" >November 2, 2015 - November 8, 2015</label>
              
 
            </div>
            <br>
            
            <button class="btn btn-primary" ng-click="postSnippet()">
              <i class="fa fa-send"></i>
              Post Snippet
            </button>
          </form>
        </div>
      </div><!-- .post-snippet -->

      
      <div class="row projects" ng-repeat="snippet in data.user.snippets | orderBy:'-snippet.created_at'">
        <div class="col-xs-10 col-xs-offset-1 project">
          <h2 class="project-title">
            
            <a ui-sref="company.project({'project_id': snippet.snippet.project_id, 'company_id': data.user.user.company_id})">@{{snippet.project.name}}</a>
          </h2>
          <br>
          <div class="week">
            {{snippet.snippet.week}}
          </div>
          
          
          <div class="snippets finished">
            <div class="snippet-text">
              {{snippet.snippet.text}}
            </div>
          </div>

        </div>

      </div><!-- .projects -->
    </div><!-- col -->  
  </div><!-- row -->

</div><!-- #user -->