<div id="user-show" class="row">
  <div class="col-md-8 center-block">
    
    <header class="page-header">
      <div class="avatar-container">
        
        <img style="height:100px;" src="images/avatar-1.png" alt="Avatar">
      </div>
      <h1>
        {{username}}
      </h1>
      <p ng-repeat="project in data.user.projects">
        Projects: {{project.name}}
      </p>
    </header>
    Logged ID {{logged.user.id}}
    User page ID {{data.user.user.id}}
    <div class="post-snippet" ng-show="logged.user.id == data.user.user.id">
      <header>
        <p>
          <a href="#">
            How to write a snippet?
          </a>
        </p>
      </header>
      <br>
      <div class="snippet-form-container">
        <form ng-model="Snippet" ng-submit="postSnippet">
          <div class="form-group">
            <span class="label label-default" ng-model="Snippet.project" ng-repeat="project in data.user.projects">

              Project ID {{project.id}} Name {{project.name}}
            </span>  
            <textarea name="snippet" id="snippet" class="form-control" cols="30" rows="10" placeholder="What did you get done this week? What are you going to do next week?" ng-model="Snippet.text"></textarea>
          </div>
          <div class="week">
            <span class="label label-default" ng-model="Snippet.week">

              October 21, 2015 - October 28, 2015
            </span>
          </div>
          <br>
          <button class="btn btn-primary">
            Post Snippet
          </button>
        </form>
      </div>
    </div>


    <div class="projects" ng-repeat="snippet in data.user.snippets">
      <div class="project">
        <h2>
          Project id for now @{{snippet.project_id}}
        </h2>
        
        <div class="snippets finished">
        <div >{{snippet.text}}</div>
      </div><!-- .project @acquisition -->



    </div><!-- .projects -->

  </div>
</div><!-- #user-show -->