//Nav

#main-nav {
  background: $quinary;
  border: none;
  border-radius: 0;

  a,
  button,
   {
    color: $secondary;
  }

  a.btn,
  button {
    background: $quinary;
  }

  a.btn:hover,
  a.btn:active,
  button:hover,
  button:active {
    background: $secondary;
    color: $quinary;
  }

  a.btn:active,
  button:active {
    border-color: $quinary;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $secondary;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: $quinary;
}
