//Nav

#main-nav {
  background: $quinary;
  border: none;
  border-radius: 0;

  a,
  button,
   {
    color: $secondary;
  }

  a,
  button {
    background: $quinary;
  }

  a:hover,
  a:active,
  button:hover,
  button:active {
    background: $secondary;
    color: $quinary;
  }

  a:active,
  button:active {
    border-color: $quinary;
  }

  .dropdown-menu a {
    color: $quinary;
  }

  .dropdown-menu a:hover,
  .dropdown-menu a:active {
    color: $secondary;
    background: $quinary;
  }

  a[aria-expanded="true"] {
    background: lighten($quinary, 10%);
  }

  .logout {
    cursor: pointer;
  }
}

//Toggle

.navbar-default .navbar-toggle .icon-bar {
  background-color: $secondary;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: $quinary;
}
