<nav id="main-nav" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">
        GoSnipIt
        <i class="fa fa-puzzle-piece"></i>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        <li ng-show="logged.authorized">
          <a ui-sref="company.dashboard({'company_id': logged.user.company_id})">
            <i class="fa fa-dashboard"></i>
            Dashboard
          </a>
        </li>
        <li ng-show="logged.authorized">
          <a ui-sref="company.user({'user_id': logged.user.id, 'company_id': logged.user.company_id})">
            <i class="fa fa-user"></i>
            {{logged.user.first_name}}
          </a>
        </li>
        <li ng-hide="logged.authorized">
          <a ui-sref="auth">
            <i class="fa fa-sign-in"></i>
            Sign in
          </a>
        </li>
        <li ng-show="logged.authorized">
          <a ng-click="Logout()" class="logout">
            <i class="fa fa-power-off"></i>
            Sign out
          </a>
        </li>

      </ul><!-- .navbar-nav -->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>