// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard {
  .user-details {
    h3,
    h4 {
      color: $quinary;
    }
  }

  .snippet-text {
    margin-left: 64px;
    padding-left: 16px;
    border-left: 1px solid $quinary;
  }
}
