//Home (landing page)

#home {
  i {
    color: $quinary;
  }

  .btn {
    background: $quinary;

    i {
      color: $secondary;
    }
  }

  .cta-buttons .btn {
    width: 25%;
  }

  #main-title {
    font-size: 48px;
    color: $quinary;
  }

  #main-header {
    h1 {
      line-height: 64px;
    }
  }

  .details h2,
  .featurette-heading {
    color: $quinary;
  }

  .details p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {

  #home {
    .cta-buttons .btn {
      width: 40%;
    }

    .marketing {
      .details {
        margin-bottom: 32px;

        p {
          max-width: 296px;
          margin: 0 auto;
        }
      }
    }

    .featurette {
      display: block;
      align-items: stretch;

      .featurette-heading,
      h3 {
        text-align: center;
      }

      .lead {
        max-width: 512px;
        margin: 0 auto;
      }
    }
  }
  
}

@media only screen and (max-width: 767px) and (min-width: 992px) {

  #home {
    .marketing {
      .details {
        p {
          max-width: 384px;
          margin: 0 auto;
        }
      }
    }
  }

}








