//Home (landing page)

#home {
  i {
    color: $quinary;
  }

  .btn {
    background: $quinary;
  }

  .cta-buttons .btn {
    width: 25%;
  }

  #main-title {
    font-size: 48px;
  }

  #main-header {
    h1 {
      line-height: 64px;
    }
  }
}